

.content-section{
    background-color: rgb(42, 39, 39);
    border-radius: 20px;
    width: 90%;
    padding: 20px;
    box-shadow: 0 6px 15px rgba(158, 90, 230, 0.3);
}

.content-section h2{
    border-bottom: 4px solid plum;
}

.content-section li{
    padding: 8px;
}

.about-header{
    text-align: center;

}

.about-header h1{
    font-size: 36px;
    color: plum;
}