fieldset{
    background-color: #262828;
    margin: 20px;
    padding: 20px;
    color: #FFCDA2;
    font-size: 18px;
    font-weight: 800;
}

label, input, textarea{
    
    display: block;
    margin-bottom: 10px;
}

input, textarea{
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    background: #ffffff;
    border: 1px solid #2d4263;
    border-radius: 5px;
    color: #050000;
    font-size: 1rem;
}

button{
    background-color: orangered;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    width: 30%;
}

main{
    color: white;
}

body{
   background-color: #121212;
    font-family: Arial, Verdana;
    margin: 0;
    box-sizing: border-box;
    color: #f0f0f0;
}


#submit-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

button:hover{
    background-color: #FF9E6D;
}

.contact-section{
    background: #080510;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(200, 192, 192, 0.3);
}

 .contact-section h2 {
    color: plum;
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 30px;
}

.contact-section h2{
    text-align: center;
}

.contact-container{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.contact-info h3, .contact-form h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

.contact-info img{
    background-color: white;
    width: 25px;
    margin-right: 10px;
}

.social-links img{
    border-radius: 50%;
    width: 40px;
}

.social-links img:hover{
    background-color: red;

}
