/*---------------------------- global style section -----------------------------------*/
body{
    background-color: #121212;
    font-family: Arial, Verdana;
    margin: 0;
    padding: 8px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

main a:hover{
    background-color: orangered;
    border-radius: 8px;
    padding: 3px;
  color: black;
}

p{
    line-height: 1.6;
    justify-content: justify;
    color: rgb(170, 156, 156);
    width: 100%;
}

span:hover{
    background-color: orangered;
    transform: translateY(-5px);
    border-style: solid;
    color: #121212;
    border-width: 2px;
    border-radius: 8px;
}


/*-----------------------------header style section ----------------------------------- */

header{
    width: 100%;
}

header h1{
    color: white;
    text-align: center;
    padding: 20px;
}

.head-info{
    text-align: center;
    padding: 16px;
}

/*---------------------------------main container style-------------------------------*/

main{
    padding: 30px;
   color: #ffffff;
}

img{
    border-radius: 8px;
}

img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
    box-shadow: 0 4px 8px rgba(212, 17, 203, 0.521);
}

.Game-requirement{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 8px;
}

.Game-requirement li{
    list-style-type: none;
    padding: 8px 0;
}

.about-section{
    margin-top: 0;
    width: 100%;
}

.about-section h4{
    margin-bottom: 10px;
    text-decoration: underline;
}

.about-section p{
    text-align: justify;
    width: 100%;
}

.Game-requirement div{
    padding: 15px;
    background-color: transparent;
    color: white;
}

.Game-requirement img{
    width: 100%;
    border-radius: 8px;
}

.game-trailer{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.game-trailer iframe{
    width: 80%;
    height: 400px;
    max-width: 800px;
    border-radius: 8px;
}

.game-info{
    width: 90%;
    padding: 15px;
}

@media (max-width: 480px) {
    .game-trailer iframe{
        max-width: fit-content;
    }
}

.Game-genre img{
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    overflow: hidden;
}

span{
    padding: 3px 8px;
    border-radius: 8px;
    background-color: #494646;
}

.Game-genre h2{
    text-align: center;
}

.Game-Detail{
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 0 2px rgb(219, 217, 217);
}

.action_game, .adventures_game, .multiplayer_game, .horror_game{
    background-color: #1A1A1A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    margin-top: 30px;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.Game-Detail:hover{
        transform: translateY(-10px);
        transition: transform 0.9s;
         box-shadow: 0 4px 8px rgba(189, 228, 11, 0.521);
}

@media (max-width: 768px) {
    .card-container{
        display: grid;
        grid-template-columns: 1fr;
    }
}


@media (max-width: 1000px) {
    .Game-requirement{
        grid-template-columns: 1fr;
    }
}


/*---------------------------footer style section--------------------------- */

