/*---------------------------- global style section -----------------------------------*/
body{
    background-color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

a:hover{
    background-color: orangered;
    border-radius: 8px;
    padding: 3px;
  color: black;
}

p{
    line-height: 1.6;
    justify-content: justify;
    width: 100%;
}

span:hover{
   background-color: orangered;
   transform: translateY(-5px);
   border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 8px;
}


/*-----------------------------header style section ----------------------------------- */

  header{
    background-color: white;
    width: 100%;
}

header h1{
    text-align: center;
    padding: 20px;
}

header nav{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
 }

header ul{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header li a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 15px;
 }

header li a:hover{
    background-color: rgb(234, 230, 230);
    border-radius: 8px;
}


/*---------------------------------main container style-------------------------------*/

main{
    padding: 30px;
   color: #ffffff;
}

img{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

img:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.Game-requirement{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 8px;
}

.Game-requirement li{
    list-style-type: none;
    padding: 8px 0;
}

.about-section{
    margin-top: 0;
    width: 100%;
}

.about-section h4{
    margin-bottom: 10px;
    text-decoration: underline;
}

.about-section p{
    text-align: justify;
    width: 100%;
}

.Game-requirement div{
    padding: 15px;
    background-color: transparent;
    color: white;
}

.Game-requirement img{
    width: 100%;
    border-radius: 8px;
}

.game-trailer{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    width: 95%;
}

.game-trailer iframe{
    width: 80%;
    height: 400px;
    max-width: 800px;
    border-radius: 8px;
}

.game-info{
    width: 90%;
    padding: 15px;
}

@media (max-width: 480px) {
    .game-trailer iframe{
        max-width: fit-content;
    }
}

.Game-genre img{
    width: 100%;
    max-width: fit-content;
    max-height: fit-content;
    overflow: hidden;
}

span{
    padding: 3px 8px;
    border-radius: 8px;
    background-color: #494646;
}

.Game-genre h2{
    text-align: center;
}

.Game-Detail{
    display: block;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 0 2px rgb(219, 217, 217);
}

.action_game, .adventures_game, .multiplayer_game, .horror_game{
    background-color: #1A1A1A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    margin-top: 30px;
}

@media (max-width: 768px) {
    .Game-requirement{
        grid-template-columns: 1fr;
    }
}


/*---------------------------footer style section--------------------------- */

footer{
    background-color: #007BFF;
    padding: 40px;;
    color: white;
 }