nav{
    background: white;
    padding: 1rem;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li{
    display: inline;
}

nav ul li a{
    font-family: Arial, Verdana;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ul li:hover{
    background-color: rgb(230, 218, 218);
    border-radius: 12px;
    
}

nav ul li a:hover{
   color: rgb(240, 123, 20);
}