 /* Global Styles */

body{
    background-color: #121212;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f0f0f0;
}

a{
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
}

a:hover{
   color: burlywood;
}

p{
    line-height: 1.6;
    width: 100%;
}

 /* Header style section */
  header{
    background-color: white;
    width: 100%;
}

header h1{
    text-align: center;
    padding: 20px;
}

header nav{
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
 }

header ul{
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header li a{
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 1000;
    font-size: 15px;
 }

header li a:hover{
    background-color: rgb(234, 230, 230);
    border-radius: 8px;
}

 
 /* Middle section style */
 
 h1{
    font-weight: 700;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 20px;
    padding: 40px 20px;
    color: #f0f0f0;
 }
 


#welcome-section p{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #a0a0a0;
    justify-content: justify;
}

#Welcome-section a{
    text-decoration: none;
}

#Action, #Adventure, #Multiplayer, #Horror{
    margin: 20px 0;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 8px;
}


.game-list h2{
    text-align: center;
}

span{
    display: inline-block;
    border: 1px solid black;
    padding: 3px 8px;
    border-radius: 8px;
    background-color: #333;
}

        
img{
     width: 100%;
    align-items: center;
    height: auto;
    display: block;
}

time{
    color: #cdcccc;
}

.game-info{
    padding: 30px;
}

.game_card{
    background-color: #1a1a1a;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    color: #ffffff;
}

.game_card:hover{
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
    background-color: gray;
    border: 3px solid white;
    border-radius: 20px;
}


@media (max-width: 480px) {
   .contents{
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr;
        }
}

@media (min-width: 481px) and (max-width: 768px) {
   .contents{
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);
        }
}

@media (min-width: 769px) {
   .contents{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 15px;
        }
}

/* bottom section style */
footer{
  background-color: #007BFF;
  padding: 20px;
  border-radius: 8px;
}

#footer #followup a{
    text-decoration: none;
    color: white;
}

